<h3><i class="fas fa-book-reader"></i> StoryBook</h3>
<div class="section">
    <p class="lead">Create Public And Pricate Stories from Your Life</p>
</div>
<div class="diver"></div>
<div class="section">
    <a href="/auth/goole" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In with Google
    </a>
</div>