<div class="container login-container">
    <div class="card">
        <div class="card-content">
            <h3><i class="fas fa-book-reader"></i> StoryBook</h3>
            <div class="section">
                <p class="lead">Create Public And Private Stories from Your Life</p>
            </div>
            <div class="diver"></div>
            <div class="section"> <a href="/auth/google" class="btn red darken-6"> <i class="fab fa-google left"></i>
                    Log In with Google </a> </div>
        </div>
    </div>
</div>

<div  class="container link-container" >
  <div class="card-panel red lighten-3">
    <span class="black">
        <h5><i class="fab fa-github"></i><a href="https://github.com/SATVIK2204/Story-Book" style="color: black;"> Github Repository <i class="fas fa-external-link-alt" style="font-size:20px; color:blue"></i> </a></h5>
    </span> 
  </div>
</div>