p {
    margin: 10px 0 !important;
}

.login-container{
    width : 400px;
    margin-top: 50;
    text-align: center;
}

.fa-small{
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}
.ca-small{
    height: 50px;
}

.right-align{
    position: fixed;
    font-size: xx-large;
    bottom: 0;
    width: 90%;
    height: 8%;
   
}
.link-container  {

    position: fixed;
    bottom: 0;
    right: 0;
    /* top: 80%; */
    /* left: 50%; */
    right: 3%;
    /* height: 100%; */
    width: 30%;
  }